version: "3.8"

services:
  bot:
    build: .
    image: lastfm-bot
    restart: unless-stopped
    env_file: ./.env
    ports:
      - "8080:8080"
    volumes:
      - ./data:/app/data
      - ./bot/avatars:/app/bot/avatars
